body{
  height: 100vh;
}

main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 46% 4% 6.25% 8.3% 6.25% 29.2%;
  grid-template-rows: 8.8% 23.35% 4% 11% 2.75% 50.1%;
}

.blue-header{
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  grid-area: 1 / 6 / 2 / 7;
}

.title--container{
  max-width: none;
  width: 100%;
  height: 100%;
  grid-area: 2 / 3 / 5 / 7;
}

.title--position {
  margin-left: 6%;
  margin-bottom: 10%;
}

.coming--container {
  width: 100%;
  height: 100%;
  grid-area: 4 / 1 / 6 / 4;
  margin: 0;
}

.quotes--big-container{
  width: 100%;
  height: 100%;
  grid-area: 6 / 1 / 7 / 5;
}

.quotes--container {
  width: 90.3%;
  height: 105%;
  border: 5px solid var(--orange);
  box-shadow:
    0px 0px 25px -6px rgba(255, 112, 46, 0.6),
    inset 0px 0px 20px -6px rgba(255, 112, 46, 0.6);
  border-radius: 0% 11% 0% 0% / 0% 18% 0% 0%;
}

.quotes--learning-container {
  background-color: var(--blue);
  box-shadow: 0px 0px 20px -4.5px rgba(12, 69, 173, 0.6);
}

.quotes--learning-container p {
  color: var(--white);
  text-shadow: 0px 0px 3px rgba(233,230,233,0.4);
}

.quotes--talent-container {
  top: 60%;
  background-color: var(--orange);
  box-shadow: 0px 0px 25px -6px rgba(255, 112, 46, 0.6);
  border-radius: 8% 20% 0% 0% / 17% 44% 0% 0%;
}

.quotes--talent-container p {
  color: var(--black);
  text-shadow: 0px 0px 2.5px rgba(30,50,66, 0.4);
}

.quotes--decoration {
  border: 5px solid var(--blue);
  box-shadow:
    0px 0px 20px -4.5px rgba(12, 69, 173, 0.6),
    inset 0px 0px 20px -4.5px rgba(12, 69, 173, 0.6);
}

.quotes--litle-container {
  max-width: none;
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / 3 / 2;
  margin-bottom: 0;
}

.quote--inclussion-container {
  background-color: var(--orange);
  box-shadow: 0px 0px 25px -6px rgba(255, 112, 46, 0.6);
  border-radius: 0% 0% 23% 0% / 0% 0% 42% 0%;
}

.quote--inclussion-container p {
  color: var(--black);
  text-shadow: 0px 0px 2.5px rgba(30,50,66, 0.4);
}

.quotes--help-container {
  max-width: 450px;
  border: 5px solid var(--blue);
  box-shadow:
    0px 0px 20px -4.5px rgba(12, 69, 173, 0.6),
    inset 0px 0px 20px -4.5px rgba(12, 69, 173, 0.6);
}

.contact--container {
  width: 100%;
  height: 100%;
  grid-template-columns: 16.6% 83.4%;
  grid-template-rows: 17.8% 28.8% 53.4%;
  grid-area: 6 / 6 / 7 / 7;
}

.contact--title-container {
  grid-area: 1 / 1 / 3 / 3;
  background-color: var(--orange);
  box-shadow: 0px 0px 25px -6px rgba(255, 112, 46, 0.6);
}

.contact--title-container h3 {
  color: var(--black);
  text-shadow: 0px 0px 2.5px rgba(30,50,66, 0.4);
}

.contact--links-container {
  pointer-events: none;
  grid-area: 2 / 2 / 4 / 3;
  background-color: var(--blue);
  box-shadow: 0px 0px 20px -4.5px rgba(12, 69, 173, 0.6);
  border-radius: 20% 0% 0% 0% / 15% 0% 0% 0%;
  transform: translateX(32%);
  transition: transform 0.95s ease-in-out;
  transition-delay: 0.25s;
}

.contact--button {
  pointer-events: auto;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: var(--white);
  transform: translateX(-65%);
  transition:
    width 1s ease-in-out,
    transform 1s ease-in-out;
  transition-delay: 0.25s;
}

.contact--button a {
  justify-content: flex-start;
  width: 200px;
  padding-left: 5px;
  color: var(--black);
}

.contact--button-icon {
  width: 40px;
  height: 40px;
}

.mobile-decoration {
  display: none;
}

.contact--links-container:hover,
.contact--links-container:focus-within {
  transform: translateX(0);
}

.contact--links-container:hover .contact--button,
.contact--links-container:focus-within .contact--button {
  transform: translateX(0);
}

.contact--button:hover,
.contact--button:focus-within {
  width: 200px;
  transform: translateX(0);
}

.contact--button:hover a,
.contact--button a:focus {
  justify-content: center;
  padding-left: 0;
}

a:focus {
  border: 3px solid var(--orange);
  border-radius: 8px;
}

@media (min-width: 1270px) {
  p, a {
    font-size: 2.6rem;
  }
  p > span {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 3.2rem;
  }
  .title--name,
  .title--nickname {
    font-size: 6rem;
  }
  .title--container{
    min-height: 350px;
  }
  .title--position {
    margin-bottom: 7.5%;
  }
  .coming--container{
    align-items: flex-end;
    margin-left: 5%;
  }
  .quote--inclussion-container {
    border-radius: 0% 0% 23% 0% / 0% 0% 50% 0%;
  }
  .contact--title-container {
    border-radius: 15% 0% 0% 10% / 30% 0% 0% 15%;
  }
  .contact--links-container {
    gap: 5%;
    border-radius: 20% 0% 0% 0% / 20% 0% 0% 0%;
  }
  .contact--button {
    width: 65px;
    height: 65px;
  }
  .contact--button:hover,
  .contact--button:focus-within {
    width: 270px;
  }
  .contact--button a {
    width: 270px;
    height: 100%;
    padding-left: 7.5px;
  }
  .contact--button-icon {
    width: 50px;
    height: 50px;
  }
}