.about {
  width: 100%;
  height: 205px;
  display: grid;
  grid-template-columns: 8% 47% 35% 10%;
  grid-template-rows: auto 19% 28%;
}

.about__text-container {
  width: 100%;
  height: 100%;
  max-width: 970px;
  max-height: 256;
  display: grid;
  place-items: center;
  grid-area: 1 / 2 / 3 / 4;
  border-radius: 30px 20px 40px 20px;
}

.about__text {
  width: 85%;
  line-height: 2.1rem;
}

.about__decoration {
  width: 100%;
  height: 100%;
  max-width: 727px;
  max-height: 192px;
  grid-area: 2 / 3 / 4 / 5;
  border-bottom-left-radius: 20px;
  border-right-width: 0;
}

@media (min-width: 600px) {
  .about {
    height: 285px;
  }
  .about__text {
    line-height: 2.8rem;
  }
  .about__text-container {
    border-radius: 40px 30px 50px 20px;
  }
  .about__decoration {
    border-bottom-left-radius: 30px;
  }
}

@media (min-width: 1000px) {
  .about {
    height: 100%;
    grid-column: 1 / 4;
    grid-row: 3 / 6;
    grid-template-columns: 5% 45% 30% 20%;
  }
  .about__text-container {
    border-radius: 50px 40px 50px 30px;
  }
  .about__text {
    width: 85%;
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
  .about__decoration {
    border-radius: 0px 40px 30px 50px;
    border-right-width: 5px;
  }
}
