.arrow-button {
  all: unset;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background-color: transparent;
  cursor: pointer;
}

.arrow-button__icon {
  width: 35px;
  height: 35px;
  color: var(--white);
}

button:nth-child(2) > .arrow-button__icon {
  transform: rotate(180deg);
}

@media (min-width: 600px) {
  .arrow-button {
    width: 50px;
    height: 50px;
  }
  .arrow-button__icon {
    width: 45px;
    height: 45px;
  }
}