.blog-hero {
  width: 100%;
  margin-block: 30px;
  height: 400px;
  display: grid;
  grid-template-columns: 3% 6% 79% 12%;
  grid-template-rows: 56% 4% 40%;
}

.blog-hero__image-container, .blog-hero__text-container{
  width: 100%;
  height: 100%;
  display: grid;
}

.blog-hero__image-container {
  place-items: center;
  padding: 10px 20px;
  border-radius: 40px 20px 30px;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  z-index: 1;
}

.blog-hero__image{
  width: 85%;
  max-width: 320px;
  aspect-ratio: 16 / 9;
  display: grid;
  place-items: center;
  border-radius: 21px 14px;
  overflow: hidden;
}

.blog-hero__text-container {
  align-content: space-around;
  padding: 30px 20px 15px;
  border-radius: 20px 0px 0px 30px;
  grid-column: 3 / 5;
  grid-row: 2 / 4;
}

.blog-hero__title{
  text-transform: uppercase;
}

.blog-hero__text {
  margin-block: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
          line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

@media (min-width: 600px) {
  .blog-hero {
    height: 600px;
    margin-block: 40px;
  }
  .blog-hero__text-container {
    padding: 40px 30px 25px;
  }
  .blog-hero__image{
    max-width: 480px;
  }
}

@media (min-width: 1000px) {
  .blog-hero {
    width: 91%;
    max-width: 1300px;
    height: 500px;
    margin-block: 50px;
    margin-inline: auto;
    grid-template-columns: 46% 5% 49%;
    grid-template-rows: 45% 35% 20%;
  }
  .blog-hero__image-container {
    padding: 30px;
    border-radius: 50px 30px 40px;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    z-index: 1;
  }
  .blog-hero__image{
    width: 80%;
    max-width: initial;
    aspect-ratio: 4 / 3;
  }
  .blog-hero__text-container {
    padding: 40px 60px;
    border-radius: 40px 60px 40px 50px;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
  }
}

@media (min-width: 1200px) {
  .blog-hero__text-container {
    padding: 40px 90px;
  }
}

@media (min-width: 1700px) {
  .blog-hero {
    max-width: 1600px;
    height: 650px;
  }
  .blog-hero__text-container {
    padding: 40px 100px;
  }
}