.contact {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 15% 31% 54%;
  grid-column: 2;
}

.contact__title {
  padding-top: 10px;
  padding-left: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  border-top-left-radius: 5% 10.7%;
  border-bottom-left-radius: 10% 21.5%;
}

.contact__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7.5%;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  border-top-left-radius: 15.6% 15.6%;
}

@media (min-width: 600px) {
  .contact {
    height: 420px;
  }
  .contact__title {
    padding-top: 20px;
  }
}

@media (min-width: 1000px) {
  .contact {
    height: 100%;
  }
  .contact__title {
    padding-top: 30px;
  }
}

@media (min-width: 1700px) {
  .contact__title {
    padding-top: 50px;
    padding-left: 50px;
  }
}