.experience__container {
  width: 100%;
  display: grid;
  place-items: center;
}

.experience__entry {
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;
}

.experience__box {
  position: relative;
  z-index: 1;
  width: 90%;
  max-width: 850px;
  padding: 20px;
  padding-left: 40px;
  border: 3px solid var(--orange);
  border-radius: 40px 20px 30px 20px;
  margin-top: 40px;
}

.experience__entry:nth-child(even) .experience__box {
  padding-right: 30px;
  border-color: var(--blue);
}

.experience__list {
  margin-top: 15px;
  padding-left: 15px;
  list-style-type: circle;
}

.experience__list li::marker {
  color: var(--white);
  font-size: 16px;
}

.experience__list p {
  margin-block: 5px;
}
.experience__decoration {
  width: 55px;
  height: 60%;
  position: absolute;
  z-index: 2;
  top: calc(100% + 20px);
  left: -5px;
  transform: translateY(-50%);
  background-color: var(--blue);
  border-radius: 0 24px 38px 0;
}

.experience__entry:nth-child(even) .experience__decoration {
  width: 45px;
  height: 55%;
  left: auto;
  right: 0;
  background-color: var(--orange);
  border-radius: 42px 0 0 22px;
}

.experience__entry:nth-child(3) .experience__decoration {
  height: 65%;
  border-radius: 0 40px 18px 0;
}

.experience__entry:nth-child(4) .experience__decoration {
  height: 58%;
  border-radius: 20px 0 0 44px;
}

@media (min-width: 600px) {
  .experience__box {
    padding: 40px;
    padding-left: 60px;
    border-width: 5px;
  }

  .experience__entry:nth-child(even) .experience__box {
    padding-right: 60px;
  }

  .experience__list li::marker {
    font-size: 1.8rem;
  }

  .experience__box p,
  .experience__list p {
    margin-block: 10px;
  }

  .experience__decoration {
    width: 75px;
  }

  .experience__entry:nth-child(even) .experience__decoration {
    width: 55px;
  }
}

@media (min-width: 1000px) {
  .experience__box {
    border-radius: 60px 40px 50px 40px;
  }

  .experience__decoration {
    width: 14%;
  }

  .experience__entry:nth-child(even) .experience__decoration {
    width: 14%;
  }
}

@media (min-width: 1201px) {
  .experience__decoration {
    left: 5%;
    border-radius: 30px 24px 38px 26px;
  }

  .experience__entry:nth-child(even) .experience__decoration {
    left: auto;
    right: 5%;
    border-radius: 42px 28px 32px 22px;
  }

  .experience__entry:nth-child(3) .experience__decoration {
    border-radius: 26px 40px 18px 34px;
  }

  .experience__entry:nth-child(4) .experience__decoration {
    border-radius: 20px 36px 28px 44px;
  }
}
