.footer {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  height: 300px;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: flex-end;
}

@media (min-width: 1000px) {
  .footer {
    height: 430px;
    grid-template-columns: 62% 38%;
  }
}
