:root {
  --blue: #0c45ad;
  --orange: #ff702e;
  --white: #e9e6e9;
  --black: #060b10;
  --background: #1e3242;
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Chakra Petch', sans-serif;
}

body {
  background-color: var(--background);
  color: var(--white);
}

* {
  box-sizing: border-box;
}

a {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--white);
}

p,
button {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
}

h1,
h2 {
  margin: 0;
}

h3,
h4 {
  margin: 0;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  font-weight: 500;
}

p > span {
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 500;
}

button {
  font-family: 'Chakra Petch', sans-serif;
}

.blue-box {
  background-color: var(--blue);
  color: var(--white);
}

.orange-box {
  background-color: var(--orange);
  color: var(--black);
}

.white-box {
  background-color: var(--white);
  color: var(--black);
}

.blue-border {
  border: 3px solid var(--blue);
  background-color: transparent;
  color: var(--white);
}

.orange-border {
  border: 3px solid var(--orange);
  background-color: transparent;
  color: var(--white);
}

a:focus {
  border: 3px solid var(--orange);
  border-radius: 8px;
}

@media (min-width: 600px) {
  a,
  p,
  button {
    font-size: 2.1rem;
    line-height: 2.4rem;
  }
  p > span {
    font-size: 1.9rem;
  }
  h3,
  h4 {
    font-size: 2.8rem;
  }
  .blue-border {
    border: 5px solid var(--blue);
  }
  .orange-border {
    border: 5px solid var(--orange);
  }
}
