.icon-link-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icon-link__text {
  text-decoration: underline;
}

.icon-link__icon-container {
  width: 25px;
  height: 25px;
}

.icon-link__icon {
  width: 100%;
  height: 100%;
  color: var(--white);
}

@media (min-width: 600px) {
  .icon-link__icon-container {
    width: 30px;
    height: 30px;
  }
}


@media (min-width: 1700px) {
  .icon-link__icon-container {
    width: 40px;
    height: 40px;
  }
}