.link-button, .link-button__blog {
  width: 100%;
  border-radius: 8px;
  padding-block: 10px;
  display: grid;
  place-items: center;
  transition: 0.1s ease-in;
}

.link-button__blog {
  width: 70%;
}

.link-button:hover,
.link-button:focus {
  transform: scale(1.02);
}

@media (min-width: 600px) {
  .link-button {
    border-radius: 8px;
    padding-block: 15px;
  }
  .link-button__blog {
    border-radius: 8px;
    padding-block: 20px;
    width: 60%;
  }
}

@media (min-width: 1700px) {
  .link-button {
    padding-block: 20px;
  }
}