.nav {
  width: 200px;
  height: 90px;
  border-bottom-left-radius: 15px;
  justify-self: end;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

@media (min-width: 600px) {
  .nav {
    width: 260px;
    height: 100px;
  }
}

@media (min-width: 1000px) {
  .nav {
    width: 410px;
    height: 90px;
    border-bottom-left-radius: 40px;
  }
}

@media (min-width: 1201px) {
  .nav {
    border-bottom-right-radius: 40px;
  }
}
