.phrase {
  width: 100%;
  height: 200px;
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: 7% 32% 56% 5%;
  grid-template-rows: 55% 15% 30%;
}

.phrase__text-container {
  display: grid;
  place-items: center;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  border-top-left-radius: 12% 34%;
  border-top-right-radius: 6% 17%;
  border-bottom-right-radius: 9% 25%;
  border-bottom-left-radius: 5% 13%;
}

.phrase__text {
  min-width: 239px;
  max-width: 82%;
  line-height: 2.3rem;
}

.phrase__decoration {
  grid-area: 2 / 1 / 4 / 3;
  border-top-right-radius: 10% 20%;
  border-bottom-right-radius: 21% 40%;
  border-left: none;
}

@media (min-width: 600px) {
  .phrase {
    height: 300px;
    grid-template-columns: 7% 32% 41% 21%;
  }
  .phrase__text {
    max-width: 80%;
    line-height: inherit;
  }
}

@media (min-width: 1000px) {
  .phrase {
    height: 100%;
    margin-bottom: 0;
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }
  .phrase__text-container {
    grid-area: 1 / 1 / 2 / 2;
    border: none;
    background-color: var(--blue);
    box-shadow: 0px 0px 20px -4.5px rgba(12, 69, 173, 0.6);
    color: var(--white);
  }
  .phrase__text {
    max-width: 87%;
    line-height: 2.8rem;
  }
  .phrase__decoration {
    display: none;
  }
}

@media (min-width: 1700px){
  .phrase {
    max-width: 760px;
    max-height: 396px;
    place-self: center;
  }
  .phrase__text {
    font-size: 4rem;
    line-height: 6rem;
  }
}