.picture {
  width: 100%;
  height: 310px;
  display: grid;
  grid-template-columns: 17.4% 7.5% 50.2% 7.5% 17.4%;
  grid-template-rows: 18.7% 59% 22.3%;
}

.picture__decoration {
  width: 100%;
  height: 100%;
}

.picture__decoration--orange {
  grid-area: 1 / 3 / 3 / 6;
  border-top-left-radius: 15% 17%;
  border-bottom-left-radius: 7% 8%;
  border-right: none;
}

.picture__decoration--blue {
  grid-area: 2 / 1 / 4 / 4;
  border-top-right-radius: 15% 17%;
  border-bottom-right-radius: 7% 8%;
  border-left: none;
}

.picture__image {
  width: 252px;
  height: 252px;
  grid-area: 2 / 2 / 4 / 5;
  justify-self: center;
}