.picture {
  width: 100%;
  height: 310px;
  display: grid;
  grid-template-columns: 17.4% 7.5% 50.2% 7.5% 17.4%;
  grid-template-rows: 18.7% 59% 22.3%;
}

.picture__decoration--orange {
  grid-area: 1 / 3 / 3 / 6;
  border-top-left-radius: 15% 17%;
  border-bottom-left-radius: 7% 8%;
  border-right-width: 0;
}

.picture__decoration--blue {
  grid-area: 2 / 1 / 4 / 4;
  border-top-right-radius: 15% 17%;
  border-bottom-right-radius: 7% 8%;
  border-left: none;
}

.picture__image {
  width: 252px;
  height: 252px;
  grid-area: 2 / 2 / 4 / 5;
  justify-self: center;
}

@media (min-width: 600px) {
  .picture {
    height: 500px;
  }
  .picture__image {
    width: 405px;
    height: 405px;
  }
}

@media (min-width: 1000px) {
  .picture {
    height: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    grid-template-columns: 7.3% 11.8% 48.1% 13.2% 19.6%;
  }
  .picture__image {
    width: 325px;
    height: 325px;
  }
  .picture__decoration--orange {
    border-top-right-radius: 15% 17%;
    border-bottom-right-radius: 7% 8%;
    border-top-left-radius: 7% 8%;
    border-bottom-left-radius: 15% 17%;
    border-right-width: 5px;
  }
}