.picture {
  width: 100%;
  height: 310px;
  display: grid;
  grid-template-columns: 17.4% 7.5% 50.2% 7.5% 17.4%;
  grid-template-rows: 18.7% 59% 22.3%;
}

.picture__decoration--orange {
  grid-area: 1 / 3 / 3 / 6;
  border-radius: 40px 0px 0px 30px;
  border-right-width: 0px;
}

.picture__decoration--blue {
  grid-area: 2 / 1 / 4 / 4;
  border-top-right-radius: 40px;
  border-left: none;
}

.picture__image {
  width: 252px;
  height: 252px;
  grid-area: 2 / 2 / 4 / 5;
  justify-self: center;
}

@media (min-width: 600px) {
  .picture {
    height: 500px;
  }
  .picture__image {
    width: 405px;
    height: 405px;
  }
  .picture__decoration--orange {
    border-radius: 60px 0px 0px 30px;
  }

  .picture__decoration--blue {
    border-top-right-radius: 60px;
  }
}

@media (min-width: 1000px) {
  .picture {
    height: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    grid-template-columns: 7.3% 11.8% 48.1% 13.2% 19.6%;
  }
  .picture__image {
    width: 32.5vw;
    height: 32.5vw;
  }
  .picture__decoration--orange {
    border-radius: 40px 60px 40px 55px;
    border-right-width: 5px;
  }
}

@media (min-width: 1201px) {
  .picture__image {
    width: 390px;
    height: 390px;
  }
  .picture__decoration--blue {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-left: 5px solid var(--blue);
  }
}
