.tag {
  width: max-content;
  padding: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
}

.tag__text {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.3rem;
}

@media (min-width: 600px) {
  .tag {
    padding: 10px;
    border-radius: 8px;
  }
  .tag__text {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
