.project-card {
  width: 92vw;
  max-width: 800px;
  padding: 20px 50px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  transform: translateX(4vw);
}

.project-card:nth-child(1),
.project-card:nth-child(3) {
  bottom: 0;
  border-color: var(--orange);
}

.project-card:nth-child(4) {
  display: none;
}

.project-card:nth-child(1) {
  transform: scale(0.9) translate(-93%, 5.5%);
}

.project-card:nth-child(3) {
  transform: scale(0.9) translate(103%, 5.5%);
}

.project-card__text {
  display: -webkit-box;
   -webkit-line-clamp: 3;
           line-clamp: 3;
   -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.project-card__tags-container{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-card__image-container {
  width: 62.5vw;
  max-width: 500px;
}


@media (min-width: 600px) {
  .project-card {
    width: 92vw;
    padding: 30px 60px;
  }
  .project-card:nth-child(1) {
    transform: scale(0.9) translate(-95%, 5.5%);
  }
  .project-card:nth-child(3) {
    transform: scale(0.9) translate(105%, 5.5%);
  }
  .project-card__tags-container {
    gap: 20px;
  }
}

@media (min-width: 870px) {
  .project-card {
    padding: 30px 100px;
  }
  .project-card {
    transform: translateX(calc((100vw - 800px) / 2));
  }
  .project-card:nth-child(1) {
    transform: scale(0.9) translateY(5.5%) translateX(calc((0.46 * 100vw) - 1121px));
  }
  .project-card:nth-child(3) {
    transform: scale(0.9) translateY(5.5%) translateX(calc((0.7 * 100vw) + 193px));
  }
}

@media (min-width: 1200px) {
  .project-card:nth-child(1) {
    transform: scale(0.9) translateY(5.5%) translateX(calc((0.54 * 100vw) - 1178px));
  }
  .project-card:nth-child(3) {
    transform: scale(0.9) translateY(5.5%) translateX(calc((0.57 * 100vw) + 289px));
  }
}

@media (min-width: 1700px) {
  .project-card {
    max-width: 1000px;
    padding: 40px 80px;
  }
  .project-card__text {
    display: -webkit-box;
     -webkit-line-clamp: 2;
             line-clamp: 2;
     -webkit-box-orient: vertical;
  }
  .project-card {
    transform: translateX(calc((100vw - 1000px) / 2));
  }
  .project-card:nth-child(1) {
    transform: scale(0.9) translateY(5.5%) translateX(calc((0.56 * 100vw) - 1544px));
  }
  .project-card:nth-child(3) {
    transform: scale(0.9) translateY(5.5%) translateX(calc((0.56 * 100vw) + 421px));
  }
}