.projects {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
}

.projects__title {
  width: 45vw;
  height: 60px;
  margin-bottom: 30px;
  display: grid;
  place-items: center;
  border-radius: 0px 10px 15px 0px;
}

.projects__buttons {
  width: 95%;
  max-width: 1700px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 600px) {
  .projects__title {
    width: 40vw;
    max-width: 492px;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 0px 15px 30px 0px;
  }
}

@media (min-width: 1201px) {
  .projects__title {
    border-radius: 20px 20px 30px 30px;
  }
}
