.project-card {
  width: 92vw;
  padding: 20px 50px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  transform: translateX(4vw);
}

.project-card:nth-child(1),
.project-card:nth-child(3) {
  bottom: 0;
  border-color: var(--orange);
}

.project-card:nth-child(4) {
  display: hidden;
}

.project-card:nth-child(1) {
  transform: scale(0.9) translate(-93%, 5.5%);
}

.project-card:nth-child(3) {
  transform: scale(0.9) translate(103%, 5.5%);
}

.project-card__text {
  display: -webkit-box;
   -webkit-line-clamp: 3;
           line-clamp: 3;
   -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.project-card__tags-container{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-card__image-container {
  width: 62.5vw;
}