.carrousel {
  width: 100vw;
  height: calc((0.65 * 100vw) + 215px);
  max-height: 760px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

@media (min-width: 600px) {
  .carrousel {
    height: calc((0.45 * 100vw) + 400px);
    margin-bottom: 15px;
  }
}