.project-card {
  width: 93.5vw;
  padding: 20px 40px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.project-card__text {
  max-height: 55px;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.project-card__tags-container{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

