.carrousel {
  width: 100%;
  height: calc((0.4 * 100vw) + 264px);
  min-height: 390px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

@media (min-width: 600px) {
  .carrousel {
    height: calc((0.14 * 100vw) + 540px);
    margin-bottom: 15px;
  }
}

@media (min-width: 1200px)  {
  .carrousel {
    max-height: 770px;
    margin-bottom: 20px;
  }
}
