.quote{
  display: grid;
  place-items: center;
}

.quote__text,
.quote__text span{
  font-size: 1.6rem;
  line-height: 2.1rem;
  vertical-align: middle;
}

.quote__talent {
  max-width: 690px;
  max-height: 300px;
  grid-column: 1 / 3 ;
  grid-row: 1 / 3;
  z-index: 1;
  border-top-right-radius: 16% 33%;
  border-bottom-right-radius: 8% 17%;
}

/* .quote__talent .quote__text{
  width: 180px;
} */

.quote__learning--mobile {
  border-right: none;
  grid-column: 2 / 4 ;
  grid-row: 2 / 4;
  border-top-left-radius: 7.5% 12.5%;
  border-bottom-left-radius: 15% 25%;
}

.quote__learning--mobile .quote__text{
  /* width: 140px; */
  text-align: end;
  margin-top: 10px;
}

@media (min-width: 600px) {
  .quote__text,
  .quote__text span{
    font-size: 2.1rem;
    line-height: 2.6rem;
  }
  .quote__text {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .quote{
    width: 100%;
    height: 100%;
  }
  .quote__talent {
    border-radius: 0;
    border-top-left-radius: 16% 33%;
    border-bottom-left-radius: 8% 17%;
    border-right-width: 0;
  }
  .quote__talent .quote__text{
    text-align: end;
  }
  .quote__learning--desktop {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    border-top-right-radius: 14% 29%;
    border-bottom-right-radius: 6% 12%;
  }
  .quote__inclusion {
    display: grid;
    grid-column: 2 / 5;
    grid-row: 6 / 7;
    border-top-left-radius: 7% 16%;
    border-top-right-radius: 14% 32%;
  }
}

@media (min-width: 1700px) {
  .quote__text,
  .quote__text span{
    font-size: 3.4rem;
    line-height: 5.7rem;
  }
  .quote__talent {
    justify-self: end;
  }
  .quote__text {
    width: 60%;
  }
}