.recent-posts {
  width: 100%;
}

.recent-posts__title {
  width: 55%;
  max-width: 180px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 0px 10px 15px 0px;
}

.recent-posts__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  row-gap: 15px;
}

@media (min-width: 600px) {
  .recent-posts__title {
    width: 250px;
    max-width: initial;
    padding: 30px 20px;
    text-align: center;
  }
  .recent-posts__container {
    row-gap: 25px;
  }
}

@media (min-width: 1000px) {
  .recent-posts__container {
    width: 98%;
    max-width: 1430px;
    margin-inline: auto;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 32.5% 2.5% 30% 2.5% 32.5%;
  }
}
@media (min-width: 1700px) {
  .recent-posts__container {
    max-width: 1800px;
  }
  .recent-posts__title {
    width: 370px;
    padding: 40px 30px;
    border-radius: 0px 15px 20px 0px;
  }
}