.recent-posts {
  width: 100%;
}

.recent-posts__title {
  width: 55%;
  max-width: 180px;
  margin-bottom: 30px;
  padding: 20px 20px 15px;
  border-radius: 0px 10px 15px 0px;
}

.recent-posts__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  row-gap: 10px;
}