.skills {
  width: 100%;
  height: 100%;
  border-left: none;
  border-top-right-radius: 14.3% 11.6%;
  border-bottom-right-radius: 5.7% 4.6%;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-inline: 5%;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.skills__list {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  padding-left: 25px;
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.skills__list li::marker {
  color: var(--white);
  font-size: 16px;
}

@media (min-width: 350px) {
  .skills__list {
    gap: 4vw;
  }
}