.skills-selector {
  width: 80%;
  max-width: 300px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skills-selector__label {
  width: 20px;
  height: 20px;
  border-radius: 25%;
  border: 3px solid;
  border-color: var(--blue);
  display: grid;
  place-items: center;
  background-color: transparent;
  overflow: visible;
}

.skills-selector__label:nth-child(2) {
  border-color: var(--orange);
}

.skills-selector__input {
  width: 15px;
  height: 15px;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  transform: scale(1, 1);
  transition: 0.3s ease-in-out;
  background-color: var(--blue);
  opacity: 0;
}

.skills-selector__label:nth-child(2) .skills-selector__input {
  background-color: var(--orange);
}

.skills-selector__input:checked {
  transform: scale(1.2, 1.2);
  opacity: 1;
}

@media (min-width: 600px) {
  .skills-selector__label {
    width: 30px;
    height: 30px;
  }
  .skills-selector__input {
    width: 22px;
    height: 22px;
  }
}